.box {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border-radius: 5px;

  .box1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    .item {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: hidden;
      .input {
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .colIcon {
      display: inline-flex;
      width: 20px;
      height: 20px;
    }
    .items {
      display: flex;
      flex-wrap: nowrap;
      gap: 5px;
      justify-content: flex-start;
    }
    .buttons {
      position: absolute;
      top: 5px;
      right: 5px;
      .foldButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: solid 1px rgb(194, 194, 194);
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: baseline;
    margin-top: 10px;
    .item {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: hidden;
      .input {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
