.cloud-details {
  .ant-pro-table {
    .ant-pro-card-body {
      .ant-table {
        max-height: calc(100vh - 336px);
        overflow-y: auto;

        .ant-table-thead {
          position: sticky;
          top: 0;
          z-index: 100;
        }
      }
    }
  }
}
