.continent-tree-list {
  .ant-tree-list {
    .ant-tree-treenode {
      align-items: center;
      padding-bottom: 0;

      .ant-tree-switcher {
        align-self: auto;
      }

      .ant-tree-node-content-wrapper {
        cursor: auto;
        padding-inline: 0;
      }

      .ant-tree-node-content-wrapper:hover {
        background-color: white !important;
      }
    }
  }
}
