.env-hosts {
  .ant-pro-table-alert {
    display: none;
  }

  .ant-pro-table {
    .ant-pro-card-body {
      .ant-table {
        max-height: calc(100vh - 300px) !important;
        overflow-y: auto;

        .ant-table-thead {
          position: sticky;
          top: 0;
          z-index: 100;
        }
      }
    }
  }

  .ant-select {
    .ant-select-selector {
      .ant-select-selection-item[title='待创建'] {
        background-color: #fff2e8;
        border: 1px solid #ffa940;
      }
      .ant-select-selection-item[title='待完善'] {
        background-color: #fffbe6;
        border: 1px solid #ffc53d;
      }
      .ant-select-selection-item[title='待更新'] {
        background-color: #fcffe6;
        border: 1px solid #9254de;
      }
      .ant-select-selection-item[title='PENDING'] {
        background-color: #e6fffb;
        border: 1px solid #36cfc9;
      }
      .ant-select-selection-item[title='待销毁'] {
        background-color: #e6f4ff;
        border: 1px solid #4096ff;
      }
      .ant-select-selection-item[title='已销毁'] {
        background-color: #fff1f0;
        border: 1px solid #ff4d4f;
      }
      .ant-select-selection-item[title='RUNNING'] {
        background-color: #f6ffed;
        border: 1px solid #73d13d;
      }
    }
  }
}
