.env-hosts {
  .ant-pro-table-alert {
    display: none;
  }

  .ant-pro-table {
    .ant-pro-card-body {
      .ant-table {
        max-height: calc(100vh - 300px) !important;
        overflow-y: auto;

        .ant-table-thead {
          position: sticky;
          top: 0;
          z-index: 100;
        }
      }
    }
  }
}
