.env-add-host-form.ant-form {
  .ant-picker {
    width: 100%;
  }

  .ant-col {
    width: 6rem;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .ant-pro-form-list {
      grid-column: span 3 / span 3;

      .ant-pro-form-list-container {
        width: 100%;
      }

      .ant-form-item-control-input-content
        div[style='width: max-content; max-width: 100%; min-width: 100%;'] {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 32px;
      }
    }
  }
}

.env-add-host-table {
  .ant-pro-table-search {
    display: none;
  }

  .ant-pro-table-list-toolbar {
    display: none;
  }
}
