.leftSider {
  position: absolute;
  top: 0px;
  right: -2px;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border-right: 3px solid rgba(223, 35, 35, 0);
  // cursor: pointer;
  cursor: url('resize32.png') 16 10, auto;
  // cursor: ew-resize;
  &:hover {
    border-right: 2px solid rgba(229, 231, 224, 0.8);
  }
}
.resizeBox {
}
