@color-lightwan-blue: rgb(0, 123, 255);
@color-lightwan-blue-hover: rgba(0, 123, 255, 0.05);
@box-shadow-default: 0 1px 8px rgba(0, 0, 0, 0.1);
@padding-base: 8px;
@padding-l: 12px;

.ant-menu-title-content {
  font-size: 14px;
}

// .ant-layout-sider {
//   height: calc(100% - 80px) !important;
//   margin: 12px;
//   background-color: #1890ff !important;
//   border-radius: 12px;

//   .ant-layout-sider-children {
//     border-inline-end-width: 0 !important;
//   }

//   .ant-menu {
//     .ant-menu-title-content {
//       color: white;
//       font-size: 14px;
//     }

//     .ant-menu-item {
//       .ant-menu-title-content {
//         transition: none !important;
//         a {
//           transition: none !important;
//         }
//       }
//     }

//     .ant-menu-submenu {
//       .ant-menu-submenu-title {
//         .ant-menu-submenu-arrow {
//           color: white !important;
//           background-color: white !important;
//         }
//       }
//     }

//     .ant-menu-submenu-active {
//       .ant-menu-submenu-title {
//         background-color: white !important;

//         .ant-menu-title-content {
//           color: #1890ff !important;
//         }

//         .ant-menu-submenu-arrow {
//           color: #1890ff !important;
//           background-color: #1890ff !important;
//         }
//       }
//     }

//     .ant-menu-item-active {
//       background-color: white !important;

//       .ant-menu-title-content {
//         color: #1890ff !important;
//       }
//     }

//     .ant-menu-item-selected {
//       background-color: white;
//       .ant-menu-title-content {
//         color: #1890ff;
//       }
//     }
//   }
// }

.ant-pro-layout {
  .ant-pro-layout-content {
    height: 9999px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    padding-block: @padding-l;
    padding-inline: @padding-l;
  }
}

.ant-form {
  .ant-select-multiple {
    .ant-select-selector {
      .ant-select-selection-item {
        background-color: @color-lightwan-blue-hover;
        border: 1px solid @color-lightwan-blue;
      }
    }
  }
}

.ant-pro-table {
  .ant-pro-card-body {
    padding: 0;

    .ant-pro-table-list-toolbar {
      margin-bottom: @padding-base;

      .ant-pro-table-list-toolbar-container {
        padding: 0;
      }

      .ant-pro-table-list-toolbar-setting-item:nth-of-type(1) {
        display: none;
      }

      .ant-pro-table-list-toolbar-setting-item:nth-of-type(2) {
        display: none;
      }
    }

    .ant-table-content {
      .ant-table-thead {
        .ant-table-cell {
          padding: @padding-base;
          font-weight: 500;
        }
      }

      .ant-table-row {
        .ant-table-cell {
          padding: @padding-base;
        }

        .ant-table-cell-row-hover {
          background-color: @color-lightwan-blue-hover !important;
        }
      }
    }
  }
}

.ant-modal-content {
  .ant-modal-header {
    .ant-modal-title {
      font-weight: 400;
    }
  }
}
